
.products_container{
    padding-top: 55px;

    h1{
        text-align: center;
        font-family: $fuente;
        font-weight: 800;
        font-size: 35px;
    }
    p{
        text-align: center;
        font-family: $fuente;
        font-weight: 400;
        font-size: 20px;
        color: $primary_color;
    }
}

.products_cards{
    margin-top: 40px;
    display: grid;
    flex-direction: row;
    align-content: center;
    grid-template-columns: repeat(4, 1fr);
    padding-left: 5%;

    @media screen and (max-width: $phone){
        grid-template-columns: repeat(2, 1fr);
    }
}

.products_categories{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 55%;
    margin-left: 22%;

    button{
        background-color: $primary_color;
        border: 1px solid $primary_color;
        border-radius: 10px;
        color: white;
        padding: 6px;
        font-family: $fuente;
        font-size: 15px;
        cursor: pointer;

        &:hover{
            background-color: $secondary_color;
        }

        @media screen and (max-width: $phone){

            font-size: 10px;
        }

    }
    @media screen and (max-width: $phone){
        width: 100%;
        margin-left: 0px;
    }
}