
.logOut_container{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 200;
    overflow: hidden;
  
    display: flex;
    justify-content: center;
    align-items: center;

    div{
        width: 25%;
        height: 30%;
        background-color: white;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h1{
            text-align: center;
        }

        p{
            text-align: center;
        }

        div{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            margin-bottom: 20px;
        }

        button{
            width: 50px;
        }
    }
}